/* Mobile title styling */
@media (max-width: 768px) {
  .dust-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;

    /* justify-content: center; */

  }

  .title-line-1,
  .title-line-2 {
    display: block;
    width: 100%;
    text-align: center;
    /* letter-spacing: -1.5px; */
  }

  .title-line-2 {
    margin-top: 0.2em;
    letter-spacing: 1.5px;
  }
}

/* Desktop - keep inline */
@media (min-width: 769px) {
  .dust-title {
    display: block;
  }

  .title-line-1,
  .title-line-2 {
    display: inline;
  }

  .title-line-2::before {
    content: " ";
  }
}